.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 540px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
