.place__website {
  max-width: 456px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .place__website {
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
  }
}
